{
  "openapi": "3.0.2",
  "info": {
    "title": "GrünstromIndex",
    "version": "1.0.0",
    "description": "The GrünstromIndex (Green Power Index) is a measure used to indicate the availability of renewable energy in the electricity grid at any given time. It is calculated based on real-time data about the share of renewable energy sources, such as wind and solar power, in the overall energy mix. The GrünstromIndex provides forecasts and current status updates to help consumers, businesses, and energy managers optimize their electricity usage based on when the grid is supplied with the most green energy. By integrating the GrünstromIndex into energy management systems, users can automate the scheduling of energy-intensive tasks—like charging electric vehicles or heating water—during periods when renewable energy is most abundant, reducing carbon footprints and enhancing grid stability. An outline with background methodology is available at: https://corrently.io/books/grunstromindex",
    "contact": {
      "name": "STROMDAO GmbH",
      "url": "https://stromdao.de/",
      "email": "dev@stromdao.com"
    },
    "license": {
      "name": "Mozilla 2.0",
      "url": "https://www.mozilla.org/en-US/MPL/2.0/"
    }
  },
  "servers": [
    {
      "url": "https://api.corrently.io/",
      "description": "Public Energy APIs curated by STROMDAO GmbH"
    }
  ],
  "paths": {
    "/v2.0/gsi/prediction": {
      "summary": "The GrünstromIndex API provides real-time and forecast data on the availability of renewable energy (green power) in the electricity grid. By delivering hourly updates for specific locations, the API enables users to track the percentage of renewable energy (from wind, solar, and other sources) and CO2 emissions. This allows for optimizing energy consumption, reducing carbon footprints, and potentially minimizing energy costs. The API offers support for energy management systems, businesses, and individuals seeking to align their energy usage with greener periods.",
      "description": "The GrünstromIndex API serves as a tool for tracking and forecasting the share of renewable energy in the electricity grid, empowering users to make environmentally conscious and cost-effective decisions about their energy consumption. The core purpose of the API is to provide location-specific forecasts that indicate when electricity is \"greenest\" and most environmentally friendly. This forecast data is valuable for energy consumers, businesses, and grid operators who aim to minimize CO2 emissions and take advantage of renewable energy availability.",
      "servers": [
        {
          "url": "https://api.corrently.io/",
          "description": "Public Energy APIs hosted by STROMDAO."
        }
      ],
      "get": {
        "requestBody": {},
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GreenPowerIndex"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "zip",
          "description": "Zipcode (Postleitzahl) of a city/village in Germany.",
          "schema": {},
          "in": "query",
          "required": true
        },
        {
          "name": "token",
          "description": "Access Token from https://console.corrently.io/ .",
          "schema": {},
          "in": "query"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "ForecastElement": {
        "title": "Root Type for ForecastElement",
        "description": "The ForecastElement represents a single entry within the GrünstromIndex forecast, containing detailed information about the expected availability of renewable energy and related data for a specific time period. Each forecast element is timestamped and includes various parameters such as the percentage of renewable energy in the grid, wind and solar energy contributions, CO2 emissions, and energy pricing. Additionally, it includes metadata such as the location (ZIP code) and a digital signature to ensure data integrity.\n\nThis structure enables energy consumers, businesses, and energy managers to make informed decisions about energy usage by considering the forecasted availability of green energy. By using the GrünstromIndex values, users can optimize their energy consumption patterns to align with periods of higher renewable energy supply, reducing CO2 emissions and energy costs.",
        "type": "object",
        "properties": {
          "epochtime": {
            "format": "int32",
            "description": " Unix time for the forecast, helping to align it with real-time data.",
            "type": "integer"
          },
          "eevalue": {
            "format": "int32",
            "type": "integer"
          },
          "ewind": {
            "format": "int32",
            "description": "breakdown of the wind power contribution.",
            "type": "integer"
          },
          "esolar": {
            "format": "int32",
            "description": "breakdown of the solar power contribution.",
            "type": "integer"
          },
          "ensolar": {
            "format": "int32",
            "type": "integer"
          },
          "enwind": {
            "format": "int32",
            "type": "integer"
          },
          "base": {
            "format": "int32",
            "type": "integer"
          },
          "scaled": {
            "type": "boolean"
          },
          "scale": {
            "format": "double",
            "description": "Scaling factor applied to the energy values.",
            "type": "number"
          },
          "gsi": {
            "format": "int32",
            "description": " GrünstromIndex score indicating renewable energy levels. (values between 0-100)",
            "type": "integer"
          },
          "sci": {
            "format": "int32",
            "type": "integer"
          },
          "timeStamp": {
            "format": "int32",
            "description": "Timestamp of the forecast in milliseconds since epoch.",
            "type": "integer"
          },
          "energyprice": {
            "description": "Location dispatched Energy price per kWh in EUR.",
            "type": "string"
          },
          "co2_g_standard": {
            "format": "int32",
            "description": "show the CO2 emissions associated with standard and green power mixes, respectively.",
            "type": "integer"
          },
          "co2_g_oekostrom": {
            "format": "int32",
            "description": "show the CO2 emissions associated with standard and green power mixes, respectively.",
            "type": "integer"
          },
          "timeframe": {
            "description": " Specifies the window of time the forecast covers.",
            "type": "object",
            "properties": {
              "start": {
                "format": "int32",
                "type": "integer"
              },
              "end": {
                "format": "int32",
                "type": "integer"
              }
            }
          },
          "iat": {
            "format": "int32",
            "description": "Issued at timestamp, indicating when the forecast was generated, in seconds.",
            "type": "integer"
          },
          "zip": {
            "description": "ZIP code for the location of the forecast.",
            "type": "string"
          },
          "signature": {
            "description": "A cryptographic signature to ensure the data's authenticity. Signee is STROMDAO GmbH.",
            "type": "string"
          }
        },
        "example": {
          "epochtime": 1728856800,
          "eevalue": 49,
          "ewind": 4,
          "esolar": 0,
          "ensolar": 0,
          "enwind": 4,
          "base": 48,
          "scaled": true,
          "scale": 0.6122448979591837,
          "gsi": 49,
          "sci": 25,
          "timeStamp": 1728856800000,
          "energyprice": "-0.0245000",
          "co2_g_standard": 183,
          "co2_g_oekostrom": 36,
          "timeframe": {
            "start": 1728856800000,
            "end": 1728860400000
          },
          "iat": 1728854953758,
          "zip": "69256",
          "signature": "0x55aa8c7424c3792e2e6c8340cf35a9b34addf2494b16d7d3ad6adfaff777acab0b7f91e115c0c1caab183f06a56fa6151125aa0964f27f7699d755d56e8c88451c"
        }
      },
      "GreenPowerIndex": {
        "title": "Root Type for GreenPowerIndex",
        "description": "The GreenPowerIndex represents the complete forecast document for the availability of green energy in the upcoming days, typically broken down into hourly intervals. It includes a series of ForecastElement entries, each providing detailed information about the forecasted renewable energy contribution, CO2 emissions, energy prices, and other relevant data for a specific time period.\n\nThis document is location-specific, containing information about the ZIP code and city for which the forecast applies. It also includes metadata such as contact information for support, relevant documentation, and commercial offerings for premium API access.\n\nThe GreenPowerIndex is primarily used by energy consumers, businesses, and energy management systems to make informed decisions about energy consumption, enabling them to optimize usage during periods when the grid is supplied with more renewable energy. This helps reduce carbon footprints and potentially lower energy costs.",
        "type": "object",
        "properties": {
          "support": {
            "type": "string"
          },
          "info": {
            "type": "string"
          },
          "documentation": {
            "type": "string"
          },
          "commercial": {
            "type": "string"
          },
          "signee": {
            "description": "Public key or identifier of the entity signing the document, used to verify data integrity.",
            "type": "string"
          },
          "forecast": {
            "description": " A collection of hourly forecasts represented by ForecastElement objects.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ForecastElement"
            }
          },
          "location": {
            "description": "ZIP code and city for the forecast, with a digital signature for data integrity.\n",
            "type": "object",
            "properties": {
              "zip": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "signature": {
                "type": "string"
              }
            }
          },
          "provisioning": {
            "description": "Information about the data source and the licensing under which the forecast is provided.",
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "license": {
                "type": "string"
              }
            }
          }
        },
        "example": {
          "support": "If you have any question please contact dev@stromdao.com or visit https://premium.corrently.de/",
          "info": "https://corrently.io/books/stromdao-gmbh/page/fair-use-policy",
          "documentation": "https://corrently.io/books/grunstromindex",
          "commercial": "https://corrently.energy/products/corrently-apis-rate-limit-erhohung",
          "signee": "0xE7Fe0626D7B8e3F2e5ECD146F9b11daac1DBE447",
          "forecast": [
            {
              "epochtime": 1729112400,
              "eevalue": 50,
              "ewind": 6,
              "esolar": 0,
              "ensolar": 0,
              "enwind": 6,
              "base": 50,
              "scaled": true,
              "scale": 0.6122448979591837,
              "gsi": 50,
              "sci": 25,
              "timeStamp": 1729112400000,
              "energyprice": "-0.0250000",
              "co2_g_standard": 180,
              "co2_g_oekostrom": 35,
              "timeframe": {
                "start": 1729112400000,
                "end": 1729116000000
              },
              "iat": 1728854953943,
              "zip": "69256",
              "signature": "0x046678c66330ed5b6bc0fbb9bc9ec175522ada9744d8c9e41ce1efed5cea8b3a0fbf7b743365925c0fcb01b6af6b58e57bae80d93235730741122fbe441cd4951b"
            },
            {
              "epochtime": 1729116000,
              "eevalue": 49,
              "ewind": 5,
              "esolar": 0,
              "ensolar": 0,
              "enwind": 5,
              "base": 49,
              "scaled": true,
              "scale": 0.6122448979591837,
              "gsi": 49,
              "sci": 25,
              "timeStamp": 1729116000000,
              "energyprice": "-0.0245000",
              "co2_g_standard": 183,
              "co2_g_oekostrom": 36,
              "timeframe": {
                "start": 1729116000000,
                "end": 1729119600000
              },
              "iat": 1728854953946,
              "zip": "69256",
              "signature": "0x17205ff2ae340c036831d79a189e6a1adf94b5b09ad61b1e9a3f6cb5be6655d007b08f8cbc353a34556750ff327848b1aa87c760ddfcd7df452d0c7c8146aedf1b"
            }
          ],
          "location": {
            "zip": "69256",
            "city": "Mauer",
            "signature": "0xa214a77070775ed2ade9d3999ba48815a18ab1f98d9dc70b7bfce4ca3598c2ef1b9594d90e07a7c8c3d57dc8ce864fe84dcc2ae6ec21ffab776f39b5de3411d61b"
          },
          "provisioning": {
            "source": "CloudFlare-IP",
            "license": "CC BY-NC-SA 4.0 ( https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.en )"
          }
        }
      }
    }
  }
}